<!doctype html>
<html lang="en">
{% load static %}
{% load i18n %}
{% include 'components_base/_header.html' %}
<style>
    .login-logo {
        height: 56px;   /* bigger than navbar */
        width: auto;
    }
</style>
<body class="light ">
<div class="wrapper vh-100">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-lg-4 col-md-6 col-10">
            <div class="card shadow-sm rounded-5">
                <div class="card-body p-4 text-center">

                    <a href="{% url 'landing_page' %}"
                       class="d-flex flex-column align-items-center mb-4 text-decoration-none">
                        <img
                                src="{% static 'assets/images/logo.svg' %}"
                                alt="{% trans 'Narxlar va Hududlar' %}"
                                class="login-logo mb-3"
                                style="width: 80px; height: auto;"
                        >
                        <span class="h5 mb-0">
                            {% trans "Narx tahlili" %}
                        </span>
                    </a>

                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}

                        <div class="form-group mb-3">
                            <label for="inputUsername" class="sr-only">{% trans "Foydalanuvchi" %}</label>
                            <input type="text" name="username" id="inputUsername"
                                   class="form-control form-control-lg rounded-3"
                                   placeholder="{% trans 'Username' %}" required autofocus>
                        </div>

                        <div class="form-group mb-3">
                            <label for="inputPassword" class="sr-only">{% trans "Parol" %}</label>
                            <input type="password" name="password" id="inputPassword"
                                   class="form-control form-control-lg rounded-3"
                                   placeholder="{% trans 'Password' %}" required>
                        </div>

                        <button class="btn btn-primary btn-lg btn-block w-100 rounded-3" type="submit">
                            {% trans "Kirish" %}
                        </button>

                        {% if error %}
                        <p class="text-danger mt-2">{{ error }}</p>
                        {% endif %}
                    </form>

                    <p class="mt-4 mb-0 text-muted">
                        {% trans "IN DEVELOPMENT MODE" %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'components_base/_scripts.html' %}
</body>
</html>
